h1 {
	text-align: center;
	text-transform: uppercase;
}

p {
	text-align: center;
	text-indent: 50px;
	font-family: Courier New, Monospace;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border-radius: 50%;
}